body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

}
/*Убираем подчеркивание всех ссылок*/
a {
  text-decoration: none;
}

.main-navigation {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
header, .sliders {
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  color: #fb565a;
}
.sliders h2 {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
}
.sliders a {
  color: #ffffff;
  background-color: #fb565a;
  text-align: center;
  text-transform: uppercase;
}
.services-list {
  list-style: none;
}
.services a {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.veb-sites a {
  background-color: #fb565a;
}
.apps a {
  background-color: #00ca74;
}
.presentations a {
  background-color: #efc84a;
}
.services-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
 .description-we {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.perform-orders {
  font-weight: bold;
}
.percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.about-us table {
  text-align: center;
}
.indicators h3 {
  font-weight: bold;
}


.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #e1e1e1;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.footer-friendship b {
  font-size: 36px;
  line-height: 36px;
}
.footer-friendship p {
  line-height: 22px;
}
.name {
  font-size: 18px;
  line-height: 30px;
}
.write-us {
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
}
.popup h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.popup label {
  font-weight: bold;
  line-height: 18px;
}
.write-us-popup input {
  border: 2px solid #d7dcde;
}
.write-us-popup input:focus {
  border-color: #000000;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.filter fieldset{
  border: none;
}
.page-header-catalog h1 {
  text-align: center;
  font-size: 55px;
}
.filter ul {
  list-style: none;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}
.filter-input,
.filter-label{
  color: #283136;
}
.filter-input:hover + .filter-label,
.filter-input:focus + .filter-label{
  color: #000000;
}
.submit {
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.sorting ul {
  list-style: none;
}
.sorting a {
  color: #000000;
}
.sorting p {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.sorting a {
  color: #283136;
  text-transform: uppercase;
}
.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
}
.catalog-list {
  list-style: none;
  text-align: center;
}
.catalog-item-title {
  color: #000000;
  font-weight: bold;
}

.catalog .button {
  color: #ffffff;
}
.catalog-item {
  background-color: #eeeeee;
  color: #666666;
}
.pagination-list {
  list-style: none;
}
.pagination-list a {
  color: #000000;
  background-color: #eeeeee;
  line-height: 18px;
  text-align: center;
}
.pagination-button:hover,
.pagination-button:focus {
  background-color: #dfdfdf;
}

/* Сеточные стили */

html,
body {
  min-width:1200px;
  min-height: 2476px;
}

.main-navigation {
   min-width: 1160px;
   margin-bottom: 30px;
   padding: 0 20px;
   display: flex;
}
.main-header-logo {
  width: 160px;
  height: 72px;
  padding-left: 10px;
}
.site-navigation-wrapper {
  min-width: 560px;
}
.user-navigation {
  min-width: 160px;
  margin-left: auto;
}

.sliders {
  padding: 0 20px;
  padding-bottom: 77px;
}
.slider-1 {
  display: flex;
}
.slider-2 {
  display: flex;
}
.slider-3 {
  display: flex;
}

.services-list {
  display: flex;
  margin-bottom: 80px;
}
.services-list li {
  width: 300px;
  margin-right: 100px;
}
.presentations {
  margin-right: 0;
}

.about-us {
  display: flex;
  margin-bottom: 54px;
  padding: 0 20px;
}
.description {
  width: 760px;
}
.indicators {
  min-width: 360px;
  margin-left: auto;
}

.partners-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  min-width: 1160px;
  margin-bottom: 82px;
}

.social-wrapper {
  display: flex;
  margin-top: 69px;
}
.footer-social {
  width: 360px;
}
.footer-friendship {
  width: 784px;
}
/*сетки для каталога */

h1 {
  margin-bottom: 160px;
}
.page-header-catalog {
  min-height: 355px;
}
.filter {
  width: 360px;
}
.catalog-column {
  display: flex;

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.catalog-containers {
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
}
.catalog-containers:nth-child(2n) {
  margin-right: 0;
}
