body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  min-width:1200px;
  min-height: 2476px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.container {
  width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.page-header {
  padding-top: 48px;
  background-color: #eeeeee;
}
.page-header-catalog {
  padding-top: 48px;
  background-color: #eeeeee;
}
/*Убираем подчеркивание всех ссылок*/
a {
  text-decoration: none;
}

.main-navigation {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}


.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;

}
.site-navigation .active {
  padding-bottom: 5px;
  border-bottom: 2px solid #f7898b;
}
.user-navigation {
  position: relative;
}
.user-navigation::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 9px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.container-slider {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.services-list .button {
  width: 160px;
}
.apps-button {
  background-color: #00ca74;
}
.apps-button:hover,
.apps-button:focus {
  background-color: #00bc6c;
}

.presentations-button {
  background-color: #efc84a;
}
.presentations-button:hover,
.presentations-button:focus {
  background-color: #eab534;
}

.services-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
 .description-we {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  padding: 0;
  padding-bottom: 33px;
  margin: 0;
}
.perform-orders {
  font-weight: bold;
}
.percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 22px;
}
.about-list-item {
  position: relative;
  padding-bottom: 24px;
}
.about-list-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  left: -40px;
  top: 10px;
}
.about-us table {
  text-align: center;
}


.footer-social ul {
  list-style: none;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
}
.social-button:active path {
  fill: rgba(255,255,255,0.3);
}
.footer-friendship b {
  font-size: 36px;
  line-height: 36px;
}
.footer-friendship p {
  line-height: 22px;
}
.name {
  font-size: 18px;
  line-height: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding-left: 37px;
  background-repeat: no-repeat;
  position: relative;
  color: #283136;
}
input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover {
  color: #000000;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 27px;
  position: absolute;
  left: 0;
  opacity: 0.4;
}
input[type="checkbox"] + label:hover:before,
input[type="radio"] + label:hover:before {
  opacity: 1;
}
input[type="checkbox"] + label::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
input[type="radio"] + label::before {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}
input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}
input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}
fieldset {
  border: none;
}
.grid-list,
.features-list {
  margin: 0;
  padding: 0;
}
.grid-item,
.features-item {
  padding-bottom: 15px;
}
.page-header-catalog h1 {
  text-align: center;
  font-size: 55px;
}
.filter ul {
  list-style: none;
}
legend {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}
.filter-input,
.filter-label{
  color: #283136;
}
.filter-input:hover + .filter-label,
.filter-input:focus + .filter-label{
  color: #000000;
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.3;
}
.submit {
  width: 260px;
  color: #000000;
  padding: 13px 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}
.submit:hover,
.submit:focus {
  background-color: #dfdfdf;
}
.submit:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.sorting ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.sorting li {
  display: inline-block;
}
.sorting h3 {
  display: inline-block;
  min-width: 160px;
  margin-right: 240px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.sorting-control {
  display: inline-block;
}
.sorting-control-button{
  opacity: 0.2;
}
.sorting-control-button:hover,
.sorting-control-button:focus {
  opacity: 0.6;
}
.sorting-control-button:active {
  opacity: 1;
}
.up {
  margin-left: 10px;
}

.sorting a {
  color: #000000;
  text-transform: uppercase
}
.sorting-item {
  opacity: 0.3;
}
.sorting li {
  font-size: 14px;
  line-height: 18px;
  margin-right: 27px;
}
.sorting-item:last-child {

}

.sorting-item:hover,
.sorting-item:focus {
  opacity: 0.6;
  color: #000000;
}
.down:active,
.up:active,
.sorting-item:active {
  color: #000000;
  opacity: 1;
}
.catalog-list {
  list-style: none;
  text-align: center;
}
.catalog-item-title {
  margin-bottom: 22px;
  color: #000000;
  font-weight: bold;
}
.description-catalog-item {
  padding-bottom: 25px;
}
.catalog .button {
  color: #ffffff;
}

/* Пагинация */
.list-pages {
	margin: 0;
	padding: 0;
  margin-bottom: 60px;
}

.list-pages li {
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
}

.list-pages a {
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	font-weight: normal;
	margin: 0;
	margin-right: 10px;
	border-radius: 3px;
	background-color: #eeeeee;
  border: 3px solid #eeeeee;
  color: #000;
}

.list-pages .active {
	background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.list-pages .next-page {
	width: 255px;
}

.list-pages .pg:hover {
	background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.list-pages .pg:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: inset 0 5px #bfbfbf;
}

/* Сеточные стили */



.main-navigation {
   min-width: 1160px;
   margin-bottom: 30px;
   padding: 0 20px;
   display: flex;
   align-items: center;
}
.main-navigation-catalog {
    margin-bottom: 95px;
}
.main-header-logo {
  width: 160px;
  height: 72px;
  padding-left: 10px;
  margin-right: 140px;
}
.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.site-navigation-wrapper {
  min-width: 560px;
}
.site-navigation {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  text-transform: uppercase;
}
.site-navigation li {
  margin-right: 35px;
}
.user-navigation {
  min-width: 160px;
  margin-left: auto;
  text-transform: uppercase;
}


.services {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  list-style: none;
}
.services-list li {
  width: 300px;
  margin-right: 100px;
}
.presentations {
  margin-right: 0;
}

.about-us {
  display: flex;
  margin-bottom: 54px;
}
.about-us ul {
  list-style: none;
}
.description {
  width: 750px;
}
.description-info {
  padding-bottom: 39px;
}
.indicators {
  min-width: 420px;
  padding-left: 100px;
  text-align: center;
}
.indicators img {
  padding-bottom: 30px;
}
.indicators-info {
  text-align: center;
  font-weight: bold;
  padding-bottom: 39px;
}
.partners {
  margin-bottom: 80px;
}
.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 42px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.partners-list li {
  width: 22%;
  position: relative;
  text-align: center;
  padding-right: 17px;
}
.partners-list li::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  top: 50%;
  transform: translateY(-50%);
  right: -8px;
  background-color: #eeeeee;
}
.partners-list li:last-of-type::after {
  display: none;
}
.partners img {
  width: auto;
}
.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}
.partners a:active {
  opacity: 0.1;
}
.iframe-map {
  border: 0;
  width: 100%;
  height: 420px;
  display: block;
  background-image: url("../img/map.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.map-container {
  position: relative;
}

.map-adress {
  position: absolute;
  left: 9px;
  top: 53px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 49px 50px 47px 52px;
  width: 240px;
}

.map-header {
  margin: 0;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.map-info,
.map-phone {
  margin: 0;
  padding: 0;
  color: #666666;
}
.map-info {
  margin-bottom: 16px;
}
.map-phone {
  margin-bottom: 32px;
}

.footer-social-list {
  width: 267px;
  margin-right: 135px;
}
.social-wrapper {
  display: flex;
  margin-top: 69px;
  align-items: center;
}
.social-container {
  display: flex;
}
.footer-social-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.social-button {
  background-color: #e1e1e1;
}
.social-button-vk {
  margin-right: 12px;
}
.social-button-fb {
  margin-right: 12px;
}
.footer-friendship {
  width: 760px;
}
.modal {
  position: fixed;
  z-index: 20;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px 0 #636464;
}
.modal-write-us {
  bottom: 172px;
  left: 100px;
  width: 960px;
  height: 590px;
  padding-left: 100px;
  padding-top: 69px;
  padding-right: 80px;
  padding-bottom: 84px;
}
.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 19px;
  height: 3px;
  background-color: #fecccd;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.modal div {
  display: inline-block;
}
.username-container {
  width: 360px;
  margin-bottom: 30px;
  margin-right: 40px;
}
.message-container {
  margin-bottom: 47px;
}
.e-mail-container {
  width: 360px;
}
.modal label {
  font-weight: bold;
  line-height: 18px;
}
.write-us-popup input[type="text"] {
  border: 2px solid #d7dcde;
  width: 360px;
  height: 50px;
  box-sizing: border-box;
}

.write-us-popup textarea {
  width: 760px;
}
.write-us-popup:hover {
  border: 2px solid #b4b9bb;
}
.write-us-popup input:focus,
.write-us-popup textarea:focus {
  border: 2px solid #000000;
}
.modal .button {
  margin-bottom: 84px;
}
.write-us-popup input:invalid {
  border: 2px solid #e74246;
}
.modal {
  display: none;
}
/*сетки для каталога */

h1 {
  margin-bottom: 160px;
}
.page-header-catalog {
  min-height: 355px;
}

.filter {
  width: 360px;
  flex-shrink: 0;
}
/*СТИЛИ ДЛЯ ФИЛЬТРА ЦЕНЫ*/
.price {
  margin: 0;
  margin-bottom: 57px;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
}
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
/*конец стилей ДЛЯ ФИЛЬТРА ЦЕНЫ*/



.catalog-column {
  display: flex;
  justify-content: space-between;
}
.sorting-catalog-column {
  width: 760px;

  display: flex;
  flex-direction: column;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}
.catalog-containers {
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
}
.catalog-containers:nth-child(2n) {
  margin-right: 0;
}
.catalog-containers:hover .catalog-item {
  display: block;
}
.catalog-item {
  position: absolute;
  z-index: 10;
  width: 360px;
  height: 201px;
  bottom: 0px;
  background-color: #eeeeee;
  color: #666666;
  padding-top: 30px;
  display: none;
}
.catalog-item p {
  margin: 0 auto;

  max-width: 240px;

}
.catalog-item .button {
  margin: 0 auto;
  display: block;
  width: 200px;
}
.browser {
  z-index: 20;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}
.catalog-containers:hover .browser {
  opacity: 1;
}
